<!-- About -->
<section class="about-color" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">About Us</h2>
                <br class="section-subheading"> </br>
            </div>
        </div>
        <div class="row">
           <p class="col-lg-9 mx-auto text-center">
               Our vision is to lead the way to the world of tomorrow through <b>innovation</b>, <b>originality</b> and <b>knowledge</b>.
               Every device, like your television, lamps, and even heart monitors can become smart.
               We are developing an end to end visual IOT application builder cloud solution.
               This solution enables companies to <b>rapidly
               design</b> and <b>deploy powerful IOT applications</b> in the cloud,<br>
               <b>saving</b> them tremendous <b>amount of time</b>, <b>engineering costs and
                   funding</b> while providing a end-to-end software solution as a <b>competitive advantage</b>.</p>
        </div>
    </div>
</section>