<!-- Services -->
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Services</h2>
                <br class="section-subheading"> </br>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4" id="service1">
            <span class="fa-stack fa-4x" id="laptop-logo">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
            </span>
                <h4 class="service-heading">Monitoring Software
                </h4>
                <p class="text-muted">Dancom Monitoring Software enables logical and physical battery storage site visualization with real-time performance data for each individual module and for the whole system. It provides immediate fault detection and troubleshooting, efficient maintenance management, interactive charts and site layout that make it easy for users to ensure that the system is functioning properly.</p>
            </div>
            <div class="col-md-4" id="service2">
            <span class="fa-stack fa-4x" id="cloud-logo">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-cloud fa-stack-1x fa-inverse"></i>
            </span>
                <h4 class="service-heading">Management Cloud</h4>
                <p class="text-muted">Dancom Cloud Based monitoring platform provides battery monitoring system with enhanced performance metering and controls. Data is sent securely to the cloud, where pre-made and customizable reports, dashboards, and visualizations are available via a secured web gateway. Fault-detection, monitoring, maintenance and many other features are included in DCB.</p>
            </div>
            <div class="col-md-4" id="service3">
            <span class="fa-stack fa-4x" id="microchip-logo">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-microchip fa-stack-1x fa-inverse"></i>
            </span>
                <h4 class="service-heading">Embedded</h4>
                <p class="text-muted">Embedded systems consist of electronic circuits, analog devices, digital components, and intelligent controllers designed to work together.</p>
            </div>
        </div>
    </div>
</section>